.banner {
    align-items: center;
    background: #EF5350;
    color: #fff;
    display: flex;
    height: 90vh;
    justify-content: center;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.banner p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 1rem;
}

.banner header {
    margin-bottom: 12rem;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
}

.banner div {
    margin-bottom: 3rem;
    z-index: 0;
}

.title {
    display: none;
}

.instructions {
    margin: auto;
    width: 90vw;
    padding-top: 3rem;
    text-align: center;
}

.instructions h2 {
    font-size: 2rem;
    font-weight: 500;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 30%;
}

.container h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1rem;
}

.container svg {
    height: 2rem;
    width: 2rem;
}

.deliverys {
    margin: auto;
    padding-top: 5vh;
    width: 95vw;
}

.deliverys h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 2rem;
}

.deliveryContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
}

@media screen and (max-width: 767px) {
    .banner {
        flex-direction: column;
        overflow: hidden;
    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 1rem;
    }

    .banner header {
        margin: 0;
        width: 80%;
    }

    .banner div {
        display: none;
    }

    .title {
        display: block;
        margin-bottom: 2rem;
    }

    .container {
        flex-direction: column;
    }

    .deliverys section {
        flex-direction: column;
    }
}
