.login {
    padding: 5px;
}

.login :first-child {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    color: #000;
    margin-right: 15px;
}

.login button {
    background-color: indianred;
    border: none;
    border-radius: 20px;
    color: #ddd;
    cursor: pointer;
    font-size: 1em;
    outline: none;
    padding: 5px 15px;
}
