.card {
    border-radius: 10px;
    box-shadow: 5px 4px 13px -2px rgba(0,0,0,0.41);
    height: 300px;
    margin: 10px;
    overflow: hidden;
    width: 30%;
}

.card h2 {
    font-size: 1.4em;
    padding: 10px 15px;
}

.card p {
    font-size: 1em;
    padding: 0 15px;
}

@media screen and (max-width: 767px) {
    .card {
        width: 80vw;
    }
}
