.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 30%;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 5px 4px 13px -2px rgba(0,0,0,0.41);
    overflow: hidden;
}

.card img {
    height: 200px;
}

.card  div {
    height: 50%;
    text-align: left;
}

.card h3 {
    font-size: 1.4em;
    font-weight: 400;
    padding: 10px 15px;
}

.card p {
    font-size: 1em;
    padding: 0 15px;
}

@media screen and (max-width: 767px) {
    .card {
        width: 80vw;
    }
}
